<h1>New employee</h1>

<%= render "form", employee: @employee, employment: @employment, payroll: @payroll, departments: @departments %>

<br>

<div>
  <%= link_to "Back to employees", employees_path %>
</div>
