<h1>Editing employment</h1>

<%= render "form", employment: @employment %>

<br>

<div>
  <%= link_to "Show this employment", @employment %> |
  <%= link_to "Back to employments", employments_path %>
</div>
