<h1>New employment</h1>

<%= render "form", employment: @employment, departments: @departments, payrolls: @payrolls, employees: @employees %>

<br>

<div>
  <%= link_to "Back to employments", employments_path %>
</div>
