<h1>Terminate Employment</h1>

<%= render "form", employment: @employment, departments: @departments, payrolls: @payrolls, employees: @employees %>

<br>

<div>
  <%= link_to "Show this employment", @employment %> |
  <%= link_to "Back to employments", employments_path %>
</div>
