<h1>Home</h1>
<p>Hello worldsdafsd!</p>
<%= link_to "Employees", employees_path %>
<br />
<%= link_to "Departments", departments_path %>
<br />
<%= link_to "Employments", employments_path %>
<br />
<%= link_to "Payrolls", payrolls_path %>
